.main {
    width: 100%;
    background-color: #5c8984;
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}
.name {
    color: #ebe8de;
}
.subtitle {
    color: #ebe8de;
    text-align: center;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 15rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    border: solid .2rem #ebe8de;
}
.cardMedia {
    height: 15rem;
}
.image {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Color rosa con opacidad 0.2 */
    z-index: 1;
}
.titleContainer {
    background-color: black;
    padding: 1rem;
    height: 2rem;
    width: 2rem;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
    color: white;
    z-index: 2;
    text-shadow: 2px 2px #00000060;
}

@media (min-width: 1200px) {
    .main {
        padding-left: 10rem;
        padding-right: 10rem;
        height: calc(100vh - 9rem);
    }
}

@media (min-width: 1420px) {
    .main {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .card {
        height: 18rem;
    }
    .cardMedia {
        height: 18rem;
    }
}

@media (min-width: 700px) {
    .main {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .card {
        height: 20rem;
    }
    .cardMedia {
        height: 20rem;
    }
}