.main {
    background-color: #5c8984;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.photoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.photo {
    border-radius: 50% !important;
    height: 12rem;
    width: 12rem;
    overflow: hidden;
    position: relative;
}
.titleContainer {
    text-align: center;
    color: #5c8984;
}
.studiesContainer {
    background-color:  transparent;
    margin: 1rem;
    border-radius: 2rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.studies {
    background-color: #5c8984 !important;
    color: #ebe8de !important;
    padding: 1rem;
    border-radius: 2rem !important;
    max-width: 20rem;
}
@media (min-width: 1200px) {
    .main {
        height: calc(100vh - 9rem);
    }
}