.main {
    background-color: #5c8984;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paper {
    margin: 1rem;
    border-radius: 2rem !important;
}

.data {
    display: inline-block;
    column-gap: .5rem;
}
/* Dashboard Section */
.title {
    text-align: center;
    color: #ebe8de;
}
.informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebe8de;
    border-radius: 2rem;
    padding: 1rem;
    gap: .5rem;
}
.photoContainer {
    position: relative;
    height: 33rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: #ebe8de;
    overflow: hidden;
    border-radius: 1rem;
}
.photoPaper {
    position: relative;
    min-height: 15rem;
    width: 100%;
    border-radius: 1rem !important;
    overflow: hidden !important;
    transition: all .3s;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all .3s;
    -webkit-user-drag: none;
}

@media (min-width: 1200px) {
    .main {
        height: calc(100vh - 9rem);
    }
}